<!DOCTYPE html>

<head>
	<!-- TODO connect to php shtuff via js api -->
</head>

<body>
	<!-- form to ingest file -->
	<form method="post" action='read' enctype="multipart/form-data">
		<!-- upload of a single file -->
		<p>
			<label>Attach CSV: </label><br />
			<input type="file" name="csv" />
		</p>

		<p>
			<input type="submit" />
		</p>
	</form>
	<!-- TODO pretty table thing to show csv data -->
</body>